/* Font use


font-family: 'Montserrat', sans-serif; H1,H2,H3,H4,H5
font-family: 'Open Sans', sans-serif; Reading text and button


*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900|Open+Sans:400,600,800');




:root {
    /*
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;

    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
*/
    /* Override Variables */
    --font-family-sans-serif: 'Open Sans', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol';

    /* Page Variables */
    --my-primary: #24195d;
    --main-color: #FCE5F1;
    --sold-out: #D3072A;
    --hover: #DFF2FD;
    --link: #0F0566;


}

.bg-light {
    background-color: var(--main-color) !important;
}



.text-my-primary {
    color: var(--my-primary) !important;


}


h1,
h2,
h3,
h4,
h5 {

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #000;
}

/* Navbar */

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black !important;
    text-transform: uppercase;
    font-weight: 600;

}

.nav-item a:hover {
    color: var(--link) !important;
    text-decoration: underline;
}


/* dropdown */

.dropdown-menu {
    background-color: #eec6d8;
    margin: 21px 0px 0 0;
    border: 0;

}

.dropdown-menu a:hover {
    color: var(--link) !important;
}

.dropdown-item:hover {
    background-color: var(--main-color);
}






body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 0rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    top: 22rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 60rem;
    background-color: #777;
}

.carousel-h1 {
    font-size: 55px;
    color: var(--main-color);
    font-weight: 900;

}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 60rem;
    background-position: center center;
    background-size: cover;


}

.carousel-indicators > li {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 10px;
}



.btn-main {
    border: 2px solid var(--link);
    color: var(--link);
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    padding: .5em 2em .5em 2em;
    font-family: 'Open Sans', sans-serif;


}


.btn-main:hover {
    background-color: var(--link);
    color: var(--main-color);
    font-size: 16px;
    border-radius: 5px;
    padding: .5em 2em .5em 2em;
    text-decoration: none;
    transition: 1s;
}


.btn-main-dark {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    padding: .5em 2em .5em 2em;
    font-family: 'Open Sans', sans-serif;


}

.btn-main-dark:hover {
    background-color: var(--main-color);
    color: var(--link);
    font-size: 16px;
    border-radius: 5px;
    padding: .5em 2em .5em 2em;
    text-decoration: none;
    transition: 1s;
}


.bg-body-color {
    background-color: var(--main-color);

}

.bg-darkblue {
    background-color: #01010D;
}

.main-color {
    color: var(--link);
    text-align: center;
}




/* btn */


.card-footer .btn-primary {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    margin-top: 2em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
    padding-left: 1em;
    margin-bottom: 2em
}

.card-footer .btn-primary:hover {
    text-decoration: underline;
}

.card-footer .btn-primary:active {}


/* Seneste event */

.card p {

    margin-top: 2em;
    color: var(--black);
    padding-left: 1em;
}

.card h4 {
    color: var(--black);
    margin-top: 1em;
    padding-left: .7em;

}

.card {
    background: transparent !important;

}

.card-body {
    padding: 0;
    margin: 0;
}



.card-text {

    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
}


.card-footer {
    background-color: transparent;
    border: 0;
    padding: 0;

}


/* Event Kalender */


.Event_date {
    color: #313131 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

}

.Event_etage {
    color: #313131 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;


}

.Event_place h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: var(--black) !important;



}

.Event_calender {}

.Event-tid {
    color: #313131 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;


}



tr:nth-child(1) {
    border-bottom: 0;
    border: 0;
}

tr:nth-last-child(1) {
    border-bottom: 0;
    border: 0;

}



.table td,
.table th {
    padding: 1.25rem;
    vertical-align: middle;
    border-top: 1px solid var(--main-color) !important;
    border-bottom: 1px solid var(--main-color) !important;
}




.btn-event {
    border: 2px solid var(--main-color);
    color: var(--link);
    font-size: 16px;
    border-radius: 5px;
    font-weight: 600;
    padding: .5em 2em .5em 2em;
    font-family: 'Open Sans', sans-serif;
}

.btn-event:hover {
    background-color: var(--main-color);
    color: var(--black);
    font-size: 16px;
    border-radius: 5px;
    padding: .5em 2em .5em 2em;
    text-decoration: none;
    transition: 1s;

}




/* ICON */

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0
}

.social-icons a:hover {
    background-color: var(--primary)
}



.margin10 {
    margin-bottom: 10px;
    margin-right: 10px;
}




.mb-30 {
    margin-bottom: 30px;
}




.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* breadcrumb */
.breadcrumb {
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0;
}

.breadcrumb-item a {
    color: #3f434e;
}

/* footer link */



.footer-links {
    padding-left: 1px;
}

.footer-links li {
    margin-bottom: 20px;
    position: relative;
    list-style-type: none;

}

.footer-links li::before {
    position: absolute;
    top: 0;
    left: -20px;
    height: 12px;
    width: auto;
    color: white;
}

.footer-links li a {
    color: black;
    transition: .7s ease;
    display: block;
}

.footer-links li a:hover {
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

/* 25.3 subcription */
.form-control.subscribe {
    width: 100%;
    border-radius: 35px;
    border: 0;
    padding: 0 20px !important;
    height: 50px;
}


.text-black {
    color: black !important;

}

/* subscribe button */
.btn-subscribe {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #fff;
    background: var(--main-color) !important;
    transition: all linear .2s;
}

.btn-subscribe:hover {
    padding-left: 15px;
    background-color: var(--link) !important;
}

.btn-subscribe:focus {
    outline: 0;
}

.fa-arrow-right {
    color: white !important;
}

/*# sourceMappingURL=maps/style.css.map */

.fa-calendar-alt {
    margin-left: 10px;
    font-size: 20px;
    color: orange !important;
}


#map_canvas {
    height: 500px;
}

@media (max-width: 575px) {
    #map_canvas {
        height: 300px;
    }
}

textarea.form-control {
    height: 150px;
    padding-top: 10px;
}

.contact-icon {
    font-size: 40px;
    margin-right: 25px;
    color: #3f434e;
}





/* UNDERSIDER */

.my-6 {
    margin: 60px 0 60px
}


header video {

    height: 10%;
    width: 100%;
    z-index: 0;

}



@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://www.youtube.com/watch?time_continue=1&v=ZEHhsg9EcwM') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}




/* Kontakt */

.btn-contact {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #000 !important;
    border: 0;
    font-size: 1em;
    font-family: 'Open Sans'sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
}


.btn-contact:hover {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #FF9700;
    text-decoration: underline;
    border: 0;
}

.btn-contact:active {
    padding: 0;
    margin: 0;
    background-color: transparent !important;
    color: #FF9700 !important;
    text-decoration: underline;
    border: 0;
}



/* Java */



/* Btn javascript */

.data-container {
    display: grid;
}

.data-container article img {
    width: 100%;
    position: relative;
    z-index: 1;

}

.post-container {}


.data-title {
    font-size: 18px;
    font-weight: 600;
    color: #575757;
    font-family: 'Montserrat'sans-serif;
    text-transform: capitalize;
    padding-left: 20px;
    padding-top: 20px;


}



.data-tid {
    font-size: 16px;
    color: #575757;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
}

.data-sted {
    font-size: 16px;
    color: #575757;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;

}

.data-dato {
    font-size: 16px;
    color: #575757;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
}

.data-pris {
    font-size: 16px;
    color: #575757;
    font-family: 'Open Sans', sans-serif;
    padding-left: 20px;
    font-weight: 600;
    padding-bottom: 20px;

}


.box {
    background-color: white;
    margin: 1em 0em 0em 0em;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.04);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    position: relative;
    z-index: 2;
    margin-top: -40px;
    width: 300px;
    left: 28px;


}


@media screen and (max-width:1182px) {
    .box {
        background-color: white;
        margin: 1em 0em 0em 0em;
        margin-top: -40px;
        width: 160px;
        left: 23px;

    }
}





@media screen and (min-width:965px) {
    .box {
        background-color: white;
        margin: 1em 0em 0em 0em;
        margin-top: -40px;
        width: 300px;
    }
}

@media screen and (max-width:768px) {
    .box {
        background-color: white;
        margin: 1em 0em 3em 0em;
        margin-top: -40px;
        width: 300px;
        left: 200px;
    }

    .data-billede {
        width: 20%;
    }

}


@media screen and (max-width:640px) {
    .box {
        background-color: white;
        margin: 1em 0em 3em 0em;
        margin-top: -40px;
        width: 300px;
        left: 100px;


    }


}

@media screen and (max-width:480px) {
    .box {
        background-color: white;
        margin: 1em 0em 3em 0em;
        margin-top: -40px;
        width: 300px;
        left: 50px;


    }
}

@media screen and (max-width:400px) {
    .box {
        background-color: white;
        margin: 1em 0em 3em 0em;
        margin-top: -40px;
        width: 300px;
        left: 13px;

    }
}


@media screen and (min-width:1000px) {
    .data-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .data-title {}

    .post-container {}

    .post-container:hover {}




}


.back {}

.back:hover {
    font-size: 3.2em;
}
